// fadeIn
.fadeOut{
	animation-name: fadeOut;
	-webkit-animation-name: fadeOut;	

	animation-duration: 5s;	
	-webkit-animation-duration: 5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
	
	z-index: 1;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}	
	80%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}			
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}	
	80%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}			
}