// Bootstrap
@import "bootstrap.less";

// Bootstrap theme
//@import "bootstrap-theme.less";

// Animation
@import "animation.less";

html{
	height: 100%;
  background-color: #fff;
  @media (min-width: @screen-sm) {
		background-image: url('../img/bk.body.svg');
		background-position: left bottom;
	  background-repeat: no-repeat;
	  background-color: @brand-blue;
  }
}

.overlay{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	z-index: @zindex-intro;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	opacity: 0;
	.logo{
		margin: 10px auto;
	}
	h1{
		margin-top: 0;
		text-align: center;
		font-size: 30px,
	}
}

.logo{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	background-color: @brand-primary;
	color: #fff;
	.glyphicon{
		position: absolute;
		font-size: 50px;
		top: 20px;
		left: 20px;
		text-shadow: 1px 1px 1px darken(@brand-primary, 15%);
	}
}

.navbar{
	margin: 0 -15px;
	padding: 8px 10px;
	border-radius:0;
	border-width: 0 0 1px 0;
	border-color: @gray-darker;
	background-image: none;
	background-color: @brand-green-darker;
	box-shadow: none;
	@media (min-width: @screen-sm) {
		background-color: transparent;
		border-width: 0;
	}
	.logo{
		width: 34px;
		height: 34px;
		margin-right: 5px;
		float: left;
		border-radius: 17px;
		@media (min-width: @screen-sm) {
			width: 100px;
			height: 100px;
			margin-right: 10px;
			border-radius: 50px;
		}
		.glyphicon{
			position: absolute;
			font-size: 18px;
			top: 6px;
			left: 6px;
			@media (min-width: @screen-sm) {
				top: 20px;
				left: 20px;
				font-size: 50px;
			}
		}
	}
	.btn-group{
		margin-top: 2px;
		.btn-default{
			font-weight: 700;
			background-color: darken(@brand-green-darker, 10%);
			border-color: @brand-green-darker;
			color: #fff;
			&:hover,
			&:active{
				background-color: darken(@brand-green-darker, 6%);
			}
			@media (min-width: @screen-sm) {
				background-color: darken(@brand-blue, 20%);
				border-color: @brand-blue;
				&:hover,
				&:active{
					background-color: darken(@brand-blue, 15%);
				}
			}
			.caret{
				border-top-color: #fff;
			}
		}
	}
}

#brand{
	margin: 0;
	padding: 7px 0;
	display: inline-block;
	float: left;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	text-shadow: 1px 1px 1px darken(@brand-blue, 50%);
	@media (min-width: @screen-sm) {
		padding: 20px 0;
		font-size: 36px;
	}
	span{
		display: none;
		@media (min-width: @screen-sm) {
			display: inline;
		}
	}
}


h2{
	margin: 16px -15px;
	@media (min-width: @screen-sm) {
		margin: 0 0 20px;
	}
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
}

h3{
	margin-top: 0;
}

// Home
.list-unstyled{
	.clearfix();
	li{
		width: 50%;
		margin-bottom: 10px;
		float: left;
		&:nth-child(2n+1){
			clear: both;
		}
	}
}



// Accordion
#accordion{
	margin-left: -15px;
	margin-right: -15px;
	@media (min-width: @screen-sm) {
		margin-left: 0;
		margin-right: 0;
	}
	.panel{
		border-width: 1px 0 0 0;
		border-color: @brand-green-dark;
		border-radius: 0;
		box-shadow: none;
		+ .panel{
			margin-top: 0;
		}
		&.panel-default{
			.accordion-toggle{
				&:hover,
				&:active{
					text-decoration: none;
					.panel-heading{
						background-color: @brand-green-dark;
					}
				}
				.panel-heading{
					min-height: 50px;
					padding: 15px;
					border-radius: 0;
					background-image: none;
					background-color: @brand-green;
					.panel-title{
						position: relative;
						font-weight: 700;
						color: #fff;
						.glyphicon{
							position: absolute;
							top: 0px;
							right: 0px;
						}
					}
				}
			}
			.panel-body{
				background-color: #fff;
			}
		}
	} 
}