// Bootstrap
@import "bootstrap.less";

// Bootstrap theme
@import "bootstrap-theme.less";

h3{
	margin-top: 0;
}

// Home
.list-unstyled{
	.clearfix();
	li{
		width: 50%;
		margin-bottom: 10px;
		float: left;
		&:nth-child(2n+1){
			clear: both;
		}
	}
}

// Nav
.navbar-brand{
	margin: 0;
}

// Accordion
#accordion{

}