<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% capture home_lang %}home_{{page.idioma}}{% endcapture %}
{% assign home = site.categories[home_lang][0] %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.t[page.idioma].Site_Title }}</title>
    <meta name="description" content="{{ site.t[page.idioma].Site_Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-152x152.png" />
    <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">Estás usando un navegador <strong>obsoleto</strong>. Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> o <a href="http://www.google.com/chromeframe/?redirect=true">activa Google Chrome Frame</a> para navegación.</p>
    <![endif]-->
    <a href="#" id="lnk_splash">
      <section class="splash fadeOut xvisible-xs">
        <div class="container">
          <span class="logo">
          </span>
          <p class="h1">{{ home.title }}</p>
          <p class="lead">{{ home.content }}</p>
        </div>
      </section>
    </a>
    <header id="header">
      <div class="container">
        <nav role="navigation" class="navbar navbar-default">
          <div class="btn-group  pull-right">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              {% if page.idioma == 'es' %}Español{% endif %}
              {% if page.idioma == 'eu' %}Euskara{% endif %}
              {% if page.idioma == 'en' %}English{% endif %}
              {% if page.idioma == 'fr' %}Français{% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/">Español</a></li>
              <li><a href="/eu">Euskara</a></li>
              <li><a href="/en">English</a></li>
              <li><a href="/fr">Français</a></li>
            </ul>
          </div>
          <a class="logo" href="/">
          </a>
          <h1 id="brand">{{ home.title }}</h1>
        </nav>
      </div>
    </header>
    <section id="intro" class="hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-md-6">
            <div class="lead">{{ home.content | markdownify}}</div>
          </div>
        </div>
      </div>
    </section>
    <div id="content" class="container">
      {{content}}
    </div>

    <script src="/js/main.js"></script>
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
